@import url('https://fonts.googleapis.com/css2?family=Rubik+Microbe&family=Satisfy&family=Special+Elite&display=swap');


:root {
  --clr-dark-teal: #23424A;
  --clr-white-solid: #FFFFFF;
  --clr-white-semi-transparent: #FFFFFFD9;
  --clr-aqua-accent: #38CFD9;
  --clr-black: black;

  --fw--heading-900: 900;
  --fw--copy-400: 400;

  --lh--copy: 1.75rem;
  --ff-roboto: 'Roboto', sans-serif;
  font-size: 16px;

}

* {
  box-sizing: border-box;

}

body {
  margin: auto;
  font-family: var(--ff-roboto);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-black);
  color:var(--clr-white-semi-transparent);
  max-width: 700px;
  position: relative;
  gap: 8rem;

}

.hero-title {
  font-size: 10rem;
  background-image: url(/follow_along_one_offs/mask_image/img/impressionfox.jpg);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.container {
  display: flex;
  flex-direction: column;
}